body{
    background-color: rgb(70, 240, 223);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(129, 145, 247);
}

button:focus {
    outline-style: dashed;
    color: salmon;
}
